@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap');
:root {
  background:#fff;
    
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  body{
    
  }
  body .bar{
align-items: flex-end;
  }
  
  .bar ul{
      list-style-type: none;
      display:flex;
      flex-direction: row;
      justify-content:flex-end;
 
  }
  .bar ul a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    padding: 0px 10px;
    
  }
  .main{
      
    display:flex;
    flex-direction:column;
    text-align: center;
    margin-top: 200px;
   
    
  }
  .main img{
    align-self: center;
  }
  .search{
   
     
  }
  form.search{
      color: gray;
     
      
  }
  form.search input[type=text] {
    display:block;
  color:black;
  font-size: 30px;
  border-width: 1px;
  padding: 0px 60px;
  border-radius: 25px;
  border-color: rgb(187, 187, 187);
  border-style: solid;
  }
  .main .material-icons{
    display: flex;
    align-items: center;
    margin-top: -35px;
    padding-left: 10px;
    
  }
  
  .main ul{
    text-decoration: none;
    list-style-type: none;
    display:flex;
    flex-direction: column;
    align-items:center;
    
    
    
  }
  .main li{
    padding: 10px;
    
    

  }
  .main p{
    font-size: 13px;
  }
  .btn{
  background: none;;
  border: none; 
  cursor: pointer; 
  display: flex;
  align-items: center;
  
  padding-left: 500px;
  margin-top: 5px;
  color: gray;
  }
 .sbtn{
  cursor: pointer; 
  padding: 10px;
  border-radius: 0px;
  border: none;
  color: rgb(54, 54, 54);
 }