@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400&display=swap');
:root {
    background-color:lavender;
    color:#2b2e4a;
    color:#e84545;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }
  body{
    background:#fff;
  }
  body .bar{
align-items: flex-end;
  }
  
  .bar ul{
      list-style-type: none;
      display:flex;
      flex-direction: row;
      justify-content:flex-end;
      
      
      
      
  }
  .bar ul a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    
  }